
<html>
<head>
    <title>
        Hi
    </title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,500,500i,600,700,700i,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="./css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/awesomplete.css">
    <link rel="stylesheet" href="./css/app.css">
    <script src="./js/angular.min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: 'AIzaSyDTXVwdG8chOnE5ZgPGFZFJXsIuXEpWeHM',
            authDomain: 'voting-app-84268.firebaseapp.com',
            databaseURL: 'https://voting-app-84268.firebaseio.com',
            projectId: 'voting-app-84268',
            storageBucket: 'voting-app-84268.appspot.com',
            messagingSenderId: '259589074819'
        };
        firebase.initializeApp(config);
    </script>
    <script src = "./js/awesomplete.js" ></script>
</head>
<body>
<div id ="bod">
    <%- include('header'); %>
    <div id="mheading"> <h1>BUS SEARCH</h1></div>
    <div class="flight-form" class="container" >
        <form method="POST" id="bus">
            <span class="fhead">FROM:</span><input type="text" name="from-bus" class="input" required>
            <span class="fhead">TO:</span><input type="text" name="to-bus" class="input" required>
            <span class="fhead">DATE:</span><input type="date" name="to-bus" class="input" required>
            <span class="fhead">PASSENGERS:</span><input type="number" name="to-bus" class="input" required>
            <input type="submit" value="Submit" onclick="alert('Bus Search Coming Soon!');">
        </form>
    </div>
</div>

</body>
</html>