
<html>
<head>
    <title>
        Hi
    </title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,500,500i,600,700,700i,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="./css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/awesomplete.css">
    <link rel="stylesheet" href="./css/app.css">
    <script src="./js/angular.min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: 'AIzaSyDTXVwdG8chOnE5ZgPGFZFJXsIuXEpWeHM',
            authDomain: 'voting-app-84268.firebaseapp.com',
            databaseURL: 'https://voting-app-84268.firebaseio.com',
            projectId: 'voting-app-84268',
            storageBucket: 'voting-app-84268.appspot.com',
            messagingSenderId: '259589074819'
        };
        firebase.initializeApp(config);
    </script>
    <script src = "./js/awesomplete.js" ></script>
</head>
<body>
    <div id ="bod">
        <%- include('header'); %>
        <div id="slideshow-container">

            <div class="mySlides fade">
                <img class = "img" src="./img/carousel (1).jpg">
            </div>
            <div class="mySlides fade">
                <img class = "img" src="./img/mmm.jpg">
            </div>
            <div class="mySlides fade">
                <img class = "img" src="./img/carousel (6).jpg" >
            </div>

            <div class="mySlides fade">
                <img class = "img" src="./img/carousel (7).jpg">
            </div>
            <div class="mySlides fade">
                <img class = "img" src="./img/carousel (8).jpg">
            </div>
            <div class="mySlides fade">
                <img class = "img" src="./img/carousel (9).jpg">
            </div>

        <div id="hcontent" class="animated bounce"><h2>Welcome To Travelista</h2></div>
        <div id ="tagcontent" class="animated bounce">One Stop destination for All your Travel Information</div>
        </div>
    </div>
        <script>
            var slideIndex = 0;

            var body = document.getElementById('bod').style;
            body.backgroundColor = "black";
            body.overflow = "hidden";


            showSlides();

            function showSlides() {
                var i;

                var slides = document.getElementsByClassName("mySlides");
                var images = document.getElementsByClassName("img");
                var carousel = document.getElementById("slideshow-container").style;
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";

                }
                slideIndex++;
                if (slideIndex > slides.length) {slideIndex = 1}
                slides[slideIndex-1].style.display = "block";
                images[slideIndex-1].style.maxHeight = window.innerHeight * 0.8 + "px";
                images[slideIndex-1].style.maxWidth = window.innerWidth + "px";
                images[slideIndex-1].style.width = window.innerWidth  + "px";
                var aspect_r = 16/9;


                if (window.innerHeight>window.innerWidth)
                {
                    images[slideIndex-1].style.maxHeight = 500 + "px";
                    images[slideIndex-1].style.maxWidth = 800 + "px";
                    imgw = 450 * aspect_r;
                    approx_left_margin = (window.innerWidth - imgw)/2;
                    carousel.marginLeft = 0.99*approx_left_margin + "px";
                    carousel.marginTop = window.innerHeight * 0.20 + "px";

                    document.getElementById("hcontent").style.marginLeft =  (window.innerWidth - 300)/2;

                } else
                {
                    carousel.marginTop = '-' + window.innerHeight*0.15 + "px";
                    images[slideIndex-1].style.height = window.innerHeight * 1.5 + "px";
                }


                //alert("window size:" + window.innerWidth + " image size:" + imgw);
                setTimeout(showSlides, 7000); // Change image every 5 seconds
            }
        </script>

</body>
</html>