
<html>
<head>
    <title>
        Hi
    </title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,500,500i,600,700,700i,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="./css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/awesomplete.css">
    <link rel="stylesheet" href="./css/app.css">
    <script src="./js/angular.min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: 'AIzaSyDTXVwdG8chOnE5ZgPGFZFJXsIuXEpWeHM',
            authDomain: 'voting-app-84268.firebaseapp.com',
            databaseURL: 'https://voting-app-84268.firebaseio.com',
            projectId: 'voting-app-84268',
            storageBucket: 'voting-app-84268.appspot.com',
            messagingSenderId: '259589074819'
        };
        firebase.initializeApp(config);
    </script>
    <script src = "./js/awesomplete.js" ></script>
</head>
<body>
<div id ="bod">
    <%- include('header'); %>
    <div id="mheading"> <h1>TRAINS SEARCH</h1></div>
    <div class="flight-form">
        <span class="sheading"> <h2>Get Trains b/w Two Stations</h2></span>
        <form method="GET" action="" id="train" >
            <span class="fhead">Source Station Code:</span> <input type="text" name="sstn" id = "source" class = 'rinput' required>
            <span class="fhead">Destination Station Code:</span> <input type="text" name="dstn" id = "destination" class = 'rinput' required>
            <span class="fhead">Date (dd-mm-yyyy):</span> <input type="date" name="date" id = "datepicker" required>
            <input type="submit" value="Submit" onsubmit="getdata()">
        </form>
    </div>
<BR>
    <div class="flight-form tbmargin" id="trainres" style="display: none">
        <h1>Train Between Station Results</h1>
        <% if (trn_info) { %>
        <table>
            <thead>
            <tr>
                <th>Train Name</th>
                <th>Train Number</th>
                <th>Source Departure Time</th>
                <th>Destination Arrival Time</th>
                <th>Travel Time</th>
            </tr>
            </thead>
            <tbody>
            <% for(var item; item < trn_info.length; item++) { %>

            <tr>
                <td><% trn_info[item].name %></td>
                <td><% trn_info[item].number %></td>
                <td><% trn_info[item].src_departure_time %></td>
                <td><% trn_info[item].dest_arrival_time %></td>
                <td><% trn_info[item].travel_time %></td>
            </tr>

            <% } %>
            </tbody>
        </table>
        <% } else { %>
        <h2>Please check your inputs or try again later</h2>
        <% } %>


    </div>
</div>
<script>

    function getdata() {
        result.style.display = "block";
    }

</script>

</body>
</html>